<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="author" content="mdarefull" />
    <link href="@Url.Content("~/Shared/Content/favicon.ico")" rel="icon" />
    @Styles.Render(CoreBundleRegistrar.CssCorePath)
    @Scripts.Render(CoreBundleRegistrar.JsCorePath)
    @RenderSection("Bundles", false)
    <title>MKM: @ViewBag.Title</title>
</head>
<body role="document">
    @Html.Partial("_MainLayoutNavBar", Session[Helpers.SessionPath])

    @RenderSection("Body", true)

    @Html.RenderDeferredPartialViews()
</body>
</html>